<footer class="site-footer">
  <div class="wrap foot-in">
    <div class="foot-links">
      <a href="https://github.com/{{ site.author.github }}">GitHub</a>
      {% if site.author.linkedin != "" %}<a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">LinkedIn</a>{% endif %}
      <a href="mailto:{{ site.author.email }}">Email</a>
      <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
    </div>
  </div>
  <div class="wrap foot-copy">© {{ site.time | date: '%Y' }} {{ site.author.name }}</div>
</footer>
