{%- assign mk = include.item -%}
{%- assign mk_img = mk.image | strip -%}
{%- assign mk_shape = mk.title | size | modulo: 3 -%}
<a class="shot{% if mk_img == "" %} shot--ph shot--ph-{{ mk_shape }}{% endif %}" href="{{ mk.url | relative_url }}"{% if mk_img != "" %} style="background-image:url('{{ mk_img | relative_url }}');background-size:cover;background-position:center"{% endif %}>
  {% if mk_img == "" %}<span class="shot-ph" aria-hidden="true"></span>{% endif %}
  <span class="shot-title">{{ mk.title }}</span>
</a>
