<a class="post{% if include.post.thumbnail %} has-thumb{% endif %}" href="{{ include.post.url | relative_url }}">
  <div class="post-aside">
    {% if include.post.thumbnail %}<img class="post-thumb" src="{{ include.post.thumbnail | relative_url }}" alt="" loading="lazy" width="96" height="96">{% endif %}
    <span class="date">{{ include.post.date | date: "%Y · %m" }}</span>
  </div>
  <div>
    <h3>{{ include.post.title }}</h3>
    <p>{% for t in include.post.tags %}<span class="tag">#{{ t }}</span>{% endfor %}{{ include.post.excerpt | strip_html | truncate: 90 }}</p>
  </div>
</a>
